@import 'includes/variables';

// // Colors
// // $colorSecond: rgb(40, 100, 133);
// // $colorThird: rgb(150, 150, 150);

// //Misc
// // $globalClassPcs: 'ui-pcs';
// [coky-generic-loader] {
//     position: absolute !important;
//     z-index: 90000 !important;
// }

// .#{$globalClassPcs}-global-loader {

//     position: fixed;
//     z-index: 1000;
//     top: 0px;
//     left: 0px;
//     display: none;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255, 255, 255, 0.85);

//     &.active {
//         display: block;
//     }

//     .#{$globalClassPcs}-box {

//         position: fixed;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         display: block;
//         width: 300px;
//         max-width: max-content;
//         max-height: max-content;


//         .#{$globalClassPcs}-loader {
//             border: 3px solid rgba($gray-color, 0.5);
//             border-top: 6px solid $primary-color;
//             // border-bottom: none;
//             border-radius: 50%;
//             width: 50px;
//             height: 50px;
//             animation: spin 2s linear infinite !important;
//         }

//     }

//     @keyframes spin {
//         0% {
//             transform: rotate(0deg);
//         }

//         100% {
//             transform: rotate(360deg);
//         }
//     }

// }


.iziToast {
    background: none;
    border: none;
    border-radius: $button-radius;
    box-shadow: none !important;

    &::after {
        box-shadow: $shadow;
        border-radius: $button-radius;
    }

    &.iziToast-color-green {
        background-color: $success-color;
    }

    &.iziToast-color-blue {
        background-color: $info-color;
    }

    &.iziToast-color-orange {
        background-color: $alert-color;
    }

    &.iziToast-color-red {
        background-color: $danger-color;
    }

    &.iziToast-color-white {
        background-color: $white-color;
    }

    &.iziToast-color-dark {
        * {
            color: white !important;
        }

        background-color: $dark-color;
    }

    .iziToast-body {
        display: flex;
        align-items: center;

        .iziToast-texts {
            display: flex !important;
            flex-direction: column !important;

            margin: 0 !important;

            .iziToast-message {
                margin: 0;
            }
        }
    }

    .iziToast-progressbar {
        display: none;
    }
}