@import 'includes/variables';
@import 'includes/components';

* {
    box-sizing: border-box;
    font-size: $htmlFontSize;
}


//Generals
html,
body {
    font-family: $fontFamilyFirst !important;
    font-weight: 400;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.#{$globalClassPcs} {
    font-size: $htmlFontSize;
}

p,
span,
div,
strong,
small,
ul,
ol,
li,
dl,
dd,
a,
mark,
q,
blockquote h1,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
label {
    font-family: $fontFamilyFirst !important;
}

a.ui.button,
a.ui.label {
    text-decoration: none !important;
}