@import 'includes/components';

* {
    box-sizing: border-box;
    font-size: $default-font-size;
}


//Generals
html,
body {
    font-family: $secondary-font, $primary-font, $last-font, "Arial", "Helvetica", serif, sans-serif !important;
    font-weight: $font-regular;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $default-font-size;
}

.#{$globalClassPcs} {
    font-size: $default-font-size;
}

p,
span,
div,
strong,
small,
ul,
ol,
li,
dl,
dd,
a,
mark,
q,
blockquote h1,
input,
select,
textarea,
label {
    font-family: $last-font, $primary-font, $secondary-font, "Arial", "Helvetica", serif, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font, $primary-font, $last-font, "Arial", "Helvetica", serif, sans-serif !important;
}

a.ui.button,
a.ui.label {
    text-decoration: none !important;
}

.color-square {
    display: flex;

    width: 60px;
    height: 60px;
    border-radius: $rounded;

    box-shadow: $shadow-fb;

    &.active {
        box-shadow: $shadow-md;
    }

    //default colors:
    div {
        width: 33%;

        &:last-child {
            width: 34%;
        }
    }

    .primary {
        border-radius: $rounded 0 0 $rounded;
        background-color: $primary-color;
    }

    .secondary {
        background-color: $secondary-color;
    }

    .back {
        border-radius: 0 $rounded $rounded 0;
        background-color: $back-color;
    }
}