button,
.btn,
.button,
.label {

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
    border-radius: $button-radius !important;

    &.white,
    &.primary,
    &.secondary,
    &.success,
    &.danger,
    &.alert,
    &.dark,
    &.gray,
    &.info {
        color: white !important;
        margin: 2px;
    }


    &.white {
        background-color: white !important;
        color: $dark-color !important;
        border: 1px solid $dark-color-hover !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgb(250, 250, 250) !important;
            color: $navbar-color !important;
        }

    }

    &.primary {
        background-color: $primary-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $primary-color-hover !important;
        }
    }

    &.secondary {
        background-color: $secondary-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $secondary-color-hover !important;
        }
    }

    &.alert {
        background-color: $alert-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $alert-color-hover !important;
        }
    }

    &.success {
        background-color: $success-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $success-color-hover !important;
        }
    }

    &.danger {
        background-color: $danger-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $danger-color-hover !important;
        }
    }

    &.dark {

        background-color: $dark-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $dark-color-hover !important;
        }
    }

    &.gray {
        background-color: $gray-color !important;
        color: gray !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $gray-color-hover !important;
        }
    }

    &.info {
        background-color: $info-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: $info-color-hover !important;
        }
    }
}

.ui.button {
    align-items: center;

    .icon {
        padding: 0 !important;
    }

    .ionicono {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}