button,
.btn,
.button,
.label {

    &.white,
    &.primary,
    &.secondary,
    &.success,
    &.danger,
    &.alert,
    &.dark,
    &.gray,
    &.info {
        color: white !important;
        margin: 2px;
    }


    &.white {
        background-color: white !important;
        color: $back-color !important;
        border: 1px solid rgba($back-color, 0.1) !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgb(250, 250, 250) !important;
            color: $back-color !important;
        }

    }

    &.primary {
        background-color: $primary-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($primary-color, 0.9) !important;
        }
    }

    &.secondary {
        background-color: $secondary-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($secondary-color, 0.9) !important;
        }
    }

    &.alert {
        background-color: $alert-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($alert-color, 0.9) !important;
        }
    }

    &.success {
        background-color: $success-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($success-color, 0.9) !important;
        }
    }

    &.danger {
        background-color: $danger-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($danger-color, 0.9) !important;
        }
    }

    &.dark {

        background-color: $dark-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($dark-color, 0.9) !important;
        }
    }

    &.gray {
        background-color: $gray-color !important;
        color: gray !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($gray-color, 0.9) !important;
        }
    }

    &.info {
        background-color: $info-color !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($info-color, 0.9) !important;
        }
    }
}