$itemsFontSize:1rem;
$itemsBackground: $sidebar-color;
$itemPadding:0.5rem;

.#{$globalClassPcs}.container-sidebar {
    position: relative;

    display: flex;
    flex-flow: row;

    background-color: $back-color;

    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    padding-top: $navbar-height;

    .sidebar-menu {
        display: flex;
        flex-direction: column;

        .links {
            // position: absolute;
            // left: 0;
            // top: 0;

            border: none;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;

            overflow-y: auto;
            overflow-x: hidden;

            min-height: calc(100vh - var(--navbar-height));
            height: calc(100vh - var(--navbar-height));
            width: fit-content;

            padding-top: 10px;
            padding-right: 10px;

            // pointer-events: none;

            // >* {
            //     pointer-events: all;
            // }

            .item {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: none;

                background-color: $sidebar-color;
                border-radius: 0px 7px 7px 0px;
                margin-bottom: 10px;

                &.no-text {
                    height: $navbar-height;
                    min-width: $navbar-height;
                }

                &.no-icon {
                    height: $navbar-height;
                    min-width: 100px !important;
                }

                &::after,
                &::before {
                    background: none;
                }

                &:active,
                &.active,
                &:hover,
                &.focus {
                    background-color: $sidebar-button-hover-color;
                    border-radius: 0px 7px 7px 0px !important;
                }


                &.current {
                    background-color: $sidebar-button-selected-color;
                    box-shadow: $shadow-md;
                    border-radius: 0px 7px 7px 0px !important;
                }

                .ionicono {
                    width: $sidebar-icon-size;
                    height: $sidebar-icon-size;
                }

                .menu {
                    border: $border;
                    margin-left: 5px !important;
                    border-radius: $dropdown-radius !important;


                    // position: absolute !important;
                    // left: 0 !important;
                    // top: 0 !important;
                    // z-index: 300 !important;

                    .item {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        line-height: normal;
                        // width: $navbar-height;
                        height: $navbar-height;
                    }
                }


            }
        }

        @media screen and(max-width:992px) {
            transition: all ease-in 0.5s;

            position: absolute;
            left: -200px;
            top: 0;
            z-index: 300;

            height: calc(100vh - var(--navbar-height));
            // width: 500px;

            &.overlay {
                left: 0;
            }
        }


    }



    .super-content {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        max-height: calc(100vh - var(--navbar-height));
        height: calc(100vh - var(--navbar-height));

        padding: 2rem;
        padding-left: 80px;
        // background-color: $back-color;

        // border-radius: 15px 0 0 0;
        // box-shadow: $shadow;
        // margin-left: 10px;

        @media screen and (max-width:992px) {
            padding: 1rem;
        }

        table {

            &,
            & * {
                word-break: initial !important;
            }
        }
    }

    >.no-padding {
        padding: 0;
    }

}