input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 60px;
    height: 60px;

    cursor: pointer;

    &::-webkit-color-swatch {
        border: none;
        border-radius: $rounded;
        padding: 0;
    }

    &::-webkit-color-swatch-wrapper {
        border: none;
        border-radius: $rounded;
        padding: 0;
    }
}