//-------- Párrafos descriptivos
.section-description {

    &.#{$globalClassPcs},
    .#{$globalClassPcs} & {
        max-width: 50rem;
        text-align: left;
    }
}

//-------- Vista de formulario de usuarios
.user-form-component {

    &.#{$globalClassPcs},
    .#{$globalClassPcs} & {

        //Items de los tabs
        .items-pointing {
            .item {
                color: $gray-color;
            }

            .item.active {
                &:hover {
                    padding: 0.7rem;
                    color: $secondary-color !important;
                    border-color: $secondary-color !important;
                    border-bottom: 4px solid $secondary-color;
                    font-size: 1.1rem;
                }
            }
        }

        //Formulario de usuario
        .form.users {
            .field {
                .ui.labeled {
                    .ui.label {
                        background-color: $primary-color;
                        font-size: 1.1rem;
                        padding: 0.7rem;
                        color: $white-color;
                        width: 35%;
                        align-items: center;
                        display: flex;

                        &.pass {
                            background-color: $gray-color;
                        }
                    }
                }

                input[type=text] {
                    font-size: 1.1rem;
                    border: 1px solid #ccc;
                    font-weight: 700;
                    color: $secondary-color;
                }

                input[type=email] {
                    font-size: 1.1rem;
                    border: 1px solid #ccc;
                    color: $secondary-color;
                    font-weight: 700;
                }

                select {
                    border: 1px solid #ccc;
                    color: $secondary-color;
                    font-weight: 700;
                }

                input[type=password] {
                    font-size: 1.1rem;
                    border: 1px solid #ccc;
                    color: $secondary-color;
                    font-weight: 700;
                }
            }
        }

        @media (max-width: 460px) {
            .form.users {
                .field {
                    .ui.labeled {
                        .ui.label {
                            font-size: 0.9rem;
                            width: 40%;
                        }

                        input {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .hidden-767 {
        display: none !important;
    }
}

//-------- Vista principal del panel administrativo
.main-view-admin {
    display: flex;
    flex-direction: column;

    width: 100%;

    .news {
        .content {
            display: flex;
            flex-flow: wrap;
            align-items: center;
            // justify-content: ;
            width: 100%;

            .segment {
                width: 300px;
                margin: 5px;

                @media screen and(max-width:480px) {
                    width: 100%;
                }

                .header {
                    margin: 0;
                }

                .meta {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    @media screen and(max-width:480px) {
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    &.end {
                        justify-content: flex-end;
                    }
                }

                p {
                    margin: 0;
                }

            }



        }
    }

}