//shadows
.segment,
.segments,
.card {
    box-shadow: $shadow-fb !important;
    border: none !important;
    background-color: $white-color;
}

.ui.top.attached.tabular.menu {
    border: none;

    .item.active {
        border: none;
        box-shadow: $shadow-fb;
    }
}

input[type="text"],
input[type="password"],
input[type="file"],
.ui.dropdown {
    border-radius: $field-radius !important;
}