//shadows
.segment,
.segments,
.card {
    box-shadow: $shadow-fb !important;
    border: none !important;
}

.ui.top.attached.tabular.menu {
    border: none;

    .item.active {
        border: none;
        box-shadow: $shadow-fb;
    }
}