.#{$globalClassPcs}.sidebar-toggle {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    // z-index: 200;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.5s ease all;

    display: none;
    align-items: center;
    justify-content: center;
    color: $toggleMenuColorActive;

    height: 50px;
    width: 50px;

    .ionicono {
        width: 20px;
        height: 20px;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: rgba($color: $secondary-color, $alpha: 0.3);
    }

    @media (max-width: 992px) {
        display: flex;
    }
}