.#{$globalClassPcs}.topbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;

    width: 100%;
    // display: flex;
    // justify-content: space-between;
    // padding: 0 !important;
    max-height: $navbar-height;
    background-color: $navbar-color;
    border-radius: 0;
    border: none;
    margin: 0;

    box-shadow: $shadow-fb;

    >* {
        height: $navbar-height;
        border-radius: 0 !important;
    }

    .sidebar-toggle {
        display: none !important;
        align-items: center;
        justify-content: center;

        color: $sidebar-text-color !important;

        &:hover,
        &:active,
        &:focus,
        &.active {
            color: $sidebar-text-color !important;
            background-color: $navbar-hover-color !important;
        }

        .ionicono {
            width: $navbar-icon-size;
            height: $navbar-icon-size;
        }

        @media screen and (max-width:992px) {
            display: flex !important;
        }

    }

    >.item,
    .blanc>.item {
        width: calc(15px + var(--navbar-height));
        height: $navbar-height;
        padding: 0;

        color: $sidebar-text-color;
        display: flex;
        align-items: center;
        justify-content: center;



        &.no-icon {
            width: fit-content;
        }

        &::before,
        &::after {
            background: none;
        }

        &:hover,
        &:active,
        &:focus,
        &.active,
        &.current {
            background-color: $navbar-hover-color !important;

            &.brand {
                background-color: transparent !important;
            }
        }

        &.brand {
            width: fit-content;
            padding: 0 20px;

            img {
                width: calc(var(--navbar-height)*.8);
                height: calc(var(--navbar-height)*.8);
                object-fit: contain;
            }
        }

        .ionicono {
            width: $navbar-icon-size;
            height: $navbar-icon-size;
        }

    }

    .ui.dropdown {

        .avatar {
            $avatar-size: calc(var(--navbar-height)*.8);

            margin: 0 auto;
            width: $avatar-size;
            height: $avatar-size;
            background-color: $gray-color;
            border-radius: 100%;
            border: 1px solid $gray-color;

            img {
                max-width: 100%;
                border-radius: 100%;
                object-fit: cover;
            }

        }

        .menu {
            min-width: 300px;
            margin-top: 5px;
            border-radius: $dropdown-radius;

            border: $border;
            // box-shadow: none;

            @media screen and (max-width:992px) {
                min-width: auto;
            }

            .item {
                display: flex !important;
                align-items: center;

                &:first-child {
                    border-top-left-radius: $dropdown-radius;
                    border-top-right-radius: $dropdown-radius;
                }

                &:last-child {
                    border-bottom-left-radius: $dropdown-radius;
                    border-bottom-right-radius: $dropdown-radius;
                }

                .ionicono {
                    width: $sidebar-icon-size;
                    height: $sidebar-icon-size;
                    margin-right: 10px;
                }

                &[user-avatar] {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .avatar {
                        min-width: $navbar-height;
                        min-height: $navbar-height;
                        width: $navbar-height;
                        height: $navbar-height;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    span {
                        width: 100%;
                        font-size: 1.1rem;
                        text-overflow: ellipsis;
                        max-width: 260px;
                        white-space: nowrap;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }


    }

    .blanc {
        display: flex;
        justify-content: flex-end;
        width: 100%;

    }
}