.message-header {
    display: flex;
    // flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;

    .title {
        margin: 0;
        padding: 0;
    }

    .user {
        display: flex;
        align-items: center;
        width: fit-content;

        .avatar {
            margin: 0 auto;
            width: 36px;
            height: 36px;
            background-color: rgb(240, 240, 240);
            border-radius: 100%;
            border: 1px solid rgb(200, 200, 200);
            margin-left: 10px;

            img {
                max-width: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .text {
            margin-left: 20px;

            >* {
                white-space: nowrap;

                margin: 0;
                padding: 0;
            }
        }
    }
}

.about {}

.responses {

    .response {
        display: flex;

        &.right {
            flex-flow: row-reverse;
        }

        &.left {
            // justify-content: flex-start;

            .message-header {
                .user {
                    flex-flow: row-reverse;

                    >* {
                        margin: 0;
                    }

                    .avatar {
                        margin-left: 0px !important;
                        margin-right: 10px;
                    }

                    .text {
                        margin-left: 0px !important;
                        margin-right: 20px;
                    }
                }
            }
        }

        .message-header {
            width: fit-content;
        }

        .secondary {
            width: 100%;
            margin: 0;

            .label {
                margin: 3px 0;
            }
        }
    }
}
